<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-column">
            <h3>Become a Sponsor!</h3>
            <p>If you are interested in supporting BSC, please contact us!</p>
            <a href="{{root}}/pages/contact.html" class="btn">Contact Us</a>
        </div>

        <div class="footer-column">
            <h3>Get Involved!</h3>
            <p>Join our biweekly newsletter and get updates over BSC's involvement and events!</p>
            <a href="{{root}}/pages/contact.html" class="btn">Mailing List</a>
        </div>

        <div class="footer-column">
            <h3>Contact Info</h3>
            <p><a href="mailto:bscatutsa@gmail.com" class="hyperlink f">bscatutsa@gmail.com</a></p>
            <p><a href="https://utsa.campuslabs.com/engage/organization/utsa-bsc" class="hyperlink f">utsa.campuslabs.com/utsa-bsc</a></p>
            <p><a href="https://linktr.ee/bscutsa" class="hyperlink f">linktr.ee/bscutsa</a></p>
            <div class="social-icons">
                <a href="https://www.instagram.com/utsabsc"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.linkedin.com/company/business-student-council"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
</footer>
